/cmake-build-debug/
/.idea/
/documentation/html/adatok_8h_source.html
/documentation/latex/adatok_8h_source.tex
/documentation/html/search/all_0.js
/documentation/html/search/all_1.js
/documentation/html/annotated.html
/documentation/latex/annotated.tex
/documentation/html/bc_s.png
/documentation/html/bc_sd.png
/documentation/html/bdwn.png
/documentation/html/classes.html
/documentation/html/search/classes_0.js
/documentation/html/search/classes_1.js
/documentation/html/search/close.svg
/documentation/html/closed.png
/documentation/html/debugmalloc_8h_source.html
/documentation/latex/debugmalloc_8h_source.tex
/documentation/html/dir_0f2f62c26e950f2bb17a0d5fdcbde918.html
/documentation/html/dir_40ef99a854e5be7e17f6eafd4fae70a9.html
/documentation/html/dir_818e350539deea360603e851ac54d507.html
/documentation/html/dir_d522931ffa1371640980b621734a4381.html
/documentation/html/doc.png
/documentation/html/docd.png
/documentation/html/doxygen.css
/documentation/latex/doxygen.sty
/documentation/html/doxygen.svg
/documentation/html/dynsections.js
/documentation/html/files.html
/documentation/latex/files.tex
/documentation/html/folderclosed.png
/documentation/html/folderopen.png
/documentation/html/index.html
/documentation/html/jquery.js
/documentation/latex/longtable_doxygen.sty
/documentation/html/search/mag.svg
/documentation/html/search/mag_d.svg
/documentation/html/search/mag_sel.svg
/documentation/html/search/mag_seld.svg
/documentation/latex/make.bat
/documentation/latex/Makefile
/documentation/html/menu.js
/documentation/html/menudata.js
/documentation/html/nav_f.png
/documentation/html/nav_fd.png
/documentation/html/nav_g.png
/documentation/html/nav_h.png
/documentation/html/nav_hd.png
/documentation/html/open.png
/documentation/latex/refman.aux
/documentation/latex/refman.idx
/documentation/latex/refman.ilg
/documentation/latex/refman.ind
/documentation/latex/refman.log
/documentation/latex/refman.pdf
/documentation/latex/refman.tex
/documentation/latex/refman.toc
/documentation/html/search/search.css
/documentation/html/search/search.js
/documentation/html/search/searchdata.js
/documentation/html/splitbar.png
/documentation/html/splitbard.png
/documentation/html/struct_debugmalloc_data.html
/documentation/latex/struct_debugmalloc_data.tex
/documentation/html/struct_debugmalloc_entry.html
/documentation/latex/struct_debugmalloc_entry.tex
/documentation/html/struct_nevjegy.html
/documentation/latex/struct_nevjegy.tex
/documentation/html/struct_nevjegyek.html
/documentation/latex/struct_nevjegyek.tex
/documentation/html/sync_off.png
/documentation/html/sync_on.png
/documentation/html/tab_a.png
/documentation/html/tab_ad.png
/documentation/html/tab_b.png
/documentation/html/tab_bd.png
/documentation/html/tab_h.png
/documentation/html/tab_hd.png
/documentation/html/tab_s.png
/documentation/html/tab_sd.png
/documentation/html/tabs.css
/documentation/latex/tabu_doxygen.sty
/documentation/html/vcard_8h_source.html
/documentation/latex/vcard_8h_source.tex
